@import url(http://fonts.googleapis.com/css?family=PT+Serif:400,700,400italic);
/******************************** Products style starts **********************************/
#products ul {
	margin: 1.5em 0;
	padding: 0;
	list-style: none;
	overflow: hidden;
}

#products li {
	float: left;
	width: 31%;
	margin: 0 1%;
	display: block;
}

.product-image {
	margin: 0 auto 1em auto;
	background: #000;
	width: 150px;
	height: 150px;
	overflow: hidden;
	border-radius: 50%;
	
}

.product-description {
	padding: 1em;
	background: #000;
	color: #fff;
	border-radius: 5px;
}

.product-name {
	text-align: center;
	color: #fc0;
	margin: 0;
	font-size: 1.4em;
	padding-bottom: 0.2em;
	border-bottom: 1px dotted #666;
	text-transform: uppercase;
	letter-spacing: 0.1em;
}
/******************************** Calorie amounts "container" style starts **********************************/
.calorie-amount {
	width: 4em;
	height: 4em;
	font-size: 1.2em;
	text-align: center;
	margin: 1em auto;
	background: #fff;
	color: #800;
	line-height: 4;
	border-radius: 50%;
}
/******************************** Counter form style starts **********************************/
form.add-to-counter div,
form.add-to-counter p,
form.add-to-counter input {
	text-align: center;
}

form input.qty {
	width: 40px;
	border: 1px solid #eee;
	font: 1em 'PT Serif', serif;
	background: #f9f9f9;
	color: #000;
	border-radius: 3px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

}

#calorie-counter {
	margin: 1.5em 0;
}

.calorie-counter {
	border: 1px solid #ddd;
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
	table-layout: fixed;
}

.calorie-counter th {
	font-size: 1.3em;
	padding: 0.3em;
	width: 33.3%;
	border: 1px solid #ddd;
	text-transform: uppercase;
}

.calorie-counter td {
	padding: 0.3em;
	width: 33.3%;
	border: 1px solid #ddd;
}

.calorie-counter tr:nth-child(even) {
	background: #fafafa;
}

#calorie-counter-actions {
	margin: 1.5em 0;
	padding: 0;
	list-style: none;
	text-align: center;
}

#calorie-counter-actions li {
	display: inline-block;
	margin-right: 1em;
}

